<%if(session.user) {
	if(quiz.favourite) {%>
		<form method="post" action="/user/<%= session.user.id %>/favourites/<%= quiz.id
		%>?_method=delete">
			<input type="hidden" name="redir" value="<%= session.redir %>">
		    <button type="submit" onClick="return confirm('Quitar favorito: <%= quiz.pregunta %>');" style="color: red;">
		      	&hearts;
		    </button>
		</form>
	<%} else { %>
		<form method="post" action="/user/<%= session.user.id %>/favourites/<%= quiz.id
		%>?_method=put">
			<input type="hidden" name="redir" value="<%= session.redir %>">
		    <button type="submit" style="color: grey;">
		      	&hearts;
		    </button>
		</form>
	<%}%>
<%}%>