<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>The best QUIZ ever</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' media='only screen and (max-width: 480px)' href='/stylesheets/smartphone.css' />
    <link rel='stylesheet' media='only screen and (min-width: 481px)' href='/stylesheets/wide.css' />
  </head>
  <body>
    <div id="page-wrap">
      <header class = "main" id="h1">
        <%if(!session.user){%>
          <span class="right">
            <a href="/user">Sign up</a> 
          - <a href="/login">Login</a></span>
        <%}else{%>
          <span class="right">
            <%=session.user.username%> 
          - <a href="/user/<%=session.user.id%>/edit">Settings</a> 
          - <a href="/logout">Logout</a></span>
        <%}%>

        <h1>Quiz<span>: El juego de las preguntas</span></h1>
      </header>
      <nav class="main" id="n1" role="navigation">
        <span><a href="/">Página Principal </a></span>
        <span><a href="/quizes"> Comience a jugar</a></span>
        <%if(session.user){%>
          <span><a href="/user/<%=session.user.id%>/quizes">Mis Preguntas</a></span>
          <span><a href="/user/<%=session.user.id%>/favourites">Favoritos</a></span>
        <%}%>
        <span><a href="/quizes/statistics"> Estadísticas</a></span>
      </nav>

      <section class="main" id="s1">
      <% if (errors && errors.length) { %>
        <span id='ErrorMsgs'>
          Corregir errores:<br/>
          <% for (var i in errors) { %>
            <span> <%= errors[i].message %> </span><br/>
          <% } %>
        </span>
      <% } %>
      <div><%- body %></div>
    </section>

      <footer>
         <p><a href="/authors">Autores</a></p>
        <p><a href="http://es.wikipedia.org/wiki/Quiz">¿Qué es un Quiz?</a></p>
      </footer>
    </div>
  </body>

</html>

