<h2>Estadísticas</h2>
<br>
<p> Número de preguntas: <%=npregs%></p>
<p> Número de comentarios: <%=ncomms%></p>
<p> Número medio de comentarios por pregunta: <%=ncommspreg%></p>
<p> Número de preguntas sin comentarios: <%=sincomms%></p>
<p> Número de preguntas con comentarios: <%=concomms%></p>
